@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard';
    box-sizing: border-box;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #151515;
    list-style: none;
    /* ##### overflow-x: ;인가 그거 */

}

body {
    overflow-x: hidden;
}

.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fcfcfc;
}

/* header */

header {
    width: 200px;
    height: 100vh;
    background-color: #fcfcfc;
    border: 5px solid #151515;
    border-top-right-radius: 25px;
    position: relative;
}

.logo {
    width: 190px;
    height: 200px;
    position: relative;
}

.logo>a {
    display: block;
    width: 115px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo>a>img {
    height: 150px;
    width: auto;
}

nav {
    width: 175px;
    height: 325px;
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease 0s;
}

nav.on {
    width: 100vw;
}

.header_wrap {
    width: 0px;
    height: 325px;
    position: absolute;
    top: 0px;
    left: 175px;
    background-color: #fcfcfc;
    border-top: 5px solid #151515;
    border-right: 5px solid #151515;
    border-bottom: 5px solid #151515;
    z-index: 2;
    transition: all 0.6s ease 0s;
}

.header_wrap.on {
    width: calc(100vw - 175px);
}

nav>ul {
    width: 150px;
    height: 325px;
    position: absolute;
    top: 0px;
    left: 25px;
    z-index: 999;
}

nav>ul>li {
    width: 150px;
    height: 50px;
    border: 5px solid #151515;
    border-radius: 10px;
    position: absolute;
    left: 0px;
}

nav>ul>li:nth-child(1) {
    top: 25px;
}

nav>ul>li:nth-child(2) {
    top: 100px;
}

nav>ul>li:nth-child(3) {
    top: 175px;
}

nav>ul>li:nth-child(4) {
    bottom: 25px;
}

nav>ul a {
    font-weight: 700;
}

nav>ul>li>a {
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

nav>ul>li:hover>a {
    color: #fcfcfc;
    background-color: #151515;
}

nav>ul>li>ul {
    width: 725px;
    height: 50px;
    display: flex;
    position: absolute;
    top: 0px;
    left: 175px;
}

nav>ul>li>ul>li {
    width: 175px;
    height: 50px;
    position: relative;
}

nav>ul>li>ul>li>a {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border: 5px solid #151515;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    left: 20px;
}

nav>ul>li>ul>li>a:hover {
    color: #fcfcfc;
    background-color: #151515;
}

.header_no_wrap {
    width: calc(100vw - 200px);
    height: 100vh;
    background-color: blue;
    position: relative;
}

/* 메인에 구름이와 새싹이 움직임 */

.main {
    width: calc(100vw - 200px);
    height: 400px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.groomi_moving_part {
    width: 335px;
    height: 400px;
    background-color: blue;
    position: absolute;
}

.body_groom {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.leg_1 {
    position: absolute;
    top: 180px;
    left: 55px;
    transform-origin: 50% 5px;
    animation: ley_rotate1 2s ease 0s infinite;
}

.leg_2 {
    position: absolute;
    top: 180px;
    left: 65px;
    transform-origin: 50% 5px;
    animation: ley_rotate2 2s ease 0s infinite;
}

.leg_3 {
    position: absolute;
    top: 180px;
    left: 205px;
    transform-origin: 50% 5px;
    animation: ley_rotate1 2s ease 0s infinite;
}

.leg_4 {
    position: absolute;
    top: 180px;
    left: 215px;
    transform-origin: 50% 5px;
    animation: ley_rotate2 2s ease 0s infinite;
}

@keyframes ley_rotate1 {
    0% {
        transform: rotateZ(30deg);
    }

    50% {
        transform: rotateZ(-30deg);
    }

    100% {
        transform: rotateZ(30deg);
    }
}

@keyframes ley_rotate2 {
    0% {
        transform: rotateZ(-30deg);
    }

    50% {
        transform: rotateZ(30deg);
    }

    100% {
        transform: rotateZ(-30deg);
    }
}

.groomi_moving_part>div {
    position: absolute;
    width: 20px;
    height: 180px;
    background-color: aqua;
}

footer {
    width: calc(100vw - 200px);
    height: 100px;
    border-top-right-radius: 25px;
    background-color: #191919;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
