.app_experience_app_part {
    width: 100%;
    height: 500px;
    background-color: #f0a9a9;
}

.app_experience_app_real_part {
    width: 300px;
    height: 500px;
    background-color: #46c7c0;
    margin: 0 auto;
    border-radius: 50px;
    position: relative;
}

.app_experience_real_module_train4_4 {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app_experience_real_module_train {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.app_experience_real_modulesq {
    width: 100px;
    height: 100px;
    background-color: #8b4d4d;
    border-radius: 25px;
}
