.character_introduce_real_characters {
    width: 700px;
    height: 400px;
    display: flex;
}

.character_introduce_real_characters>article {
    width: 350px;
    height: 350px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
