.character_introduce_real_characters {
    width: calc(100vw - 200px);
    height: 400px;
}

.character_introduce_real_characters_csection {
    width: 700px;
    height: 400px;
    display: flex;
    margin: 0 auto;
}

.character_introduce_real_characters_csection>article {
    width: 350px;
    height: 350px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character_introduce_real_characters_psection {
    width: 700px;
    height: 300px;
    background-color: aquamarine;
    display: flex;
    margin: 0 auto;
}
