.event_img_section {
    width: 200px;
    height: 200px;
    background-color: #eb2222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_img_section>img {
    width: 150px;
}
