.event_img_section_train_full {
    width: 100%;
    height: 250px;
    position: relative;
    background-color: brown;
}

.event_img_section_train {
    width: 950px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.event_img_section {
    width: 200px;
    height: 200px;
    border: 5px solid #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.event_img_section>img {
    width: 150px;
}
