.gasipan_real_table {
    width: 100vw;
    /* height: ; */
    position: relative;
}

.gasipan_real_table>table {
    width: 600px;
    border-collapse: collapse;
}

.gasipan_real_table>table td {
    border: 2px solid #151515;
    height: 30px;
}

.gasipan_real_table>table tr>td:nth-child(1),
.gasipan_real_table>table tr>td:nth-child(3) {
    width: 100px;
}

.gasipan_real_table>table tr>td:nth-child(2) {
    width: 400px;
}

.gasipan_real_table>table>thead p {
    font-weight: 700;
}
