.manjokdo_josa_train {
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.manjokdo_josa_module {
    width: 300px;
    height: 300px;
    border: 5px solid #151515;
    border-radius: 25px;
}

