.manjokdo_josa_train {
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.manjokdo_josa_module {
    width: 300px;
    height: 300px;
    border: 5px solid #151515;
    border-radius: 25px;
    position: relative;
}

.manjokdo_josa_module>p {
    width: 290px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

