/* .service_pay_intro_part {} */

/* .service_pay_train{} */

.service_pay_module {
    width: 200px;
    height: 300px;
    border-radius: 25px;
    position: relative;
}

.service_pay_module>article:nth-child(1) {
    width: 200px;
    height: 50px;
    border-top: 5px solid #151515;
    border-left: 5px solid #151515;
    border-right: 5px solid #151515;
    border-bottom: 2.5px solid #151515;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_pay_module>article:nth-child(2) {
    width: 200px;
    height: 250px;
    border-top: 2.5px solid #151515;
    border-left: 5px solid #151515;
    border-right: 5px solid #151515;
    border-bottom: 5px solid #151515;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
